@model dynamic

@{
    ViewBag.Title = "Student API Service";
}

@section subhead
{
    <h1>Student API Services</h1>

    <div>
        <p>APIs for student information</p>
    </div>
}

<div class="well">
    <p>Browse courses for 201301 in ENL</p>
    @Url.Action("Courses", "Student", new { term = "201301", department = "ENL", key = "secret" }, null)
</div>
<div class="well">
    <p>Browse courses for 201301 which match the subject + courseNum passed</p>
    @Url.Action("CoursesBySubject", "Student", new { term = "201301", subject = "ENL", courseNumber = "262", key = "secret" }, null)
</div>
<div class="well">
    <p>View complete roster for all courses which match the subject + courseNum  passed</p>
    @Url.Action("RosterBySubject", "Student", new { term = "201301", subject = "ENL", courseNumber = "262", key = "secret" }, null)
</div>
<div class="well">
    <p>View roster for course 52960 in term 201301</p>
    @Url.Action("Roster", "Student", new { term = "201301", crn = "52960", key = "secret" }, null)
</div>
<div class="well">
    <p>View all the TermCodes on record</p>
    @Url.Action("TermCodes", "Student", new { key = "secret" }, null)
</div>